@model CategoryModel
@{
    Layout = "_AdminLayout";
    ViewData["PageTitle"] = "Створити Колекцію";
}

<div class="card shadow border-0 mt-4">
    <div class="card-header bg-primary bg-gradient ml-0 py-3">
        <div class="row mt-2">
            <div class="col-12 text-center">
                <h2 class="text-white py-2">Create Category</h2>
            </div>
        </div>
    </div>
    <div class="card-body p-4" style="background: #E5E5E5;">
        <form method="post" enctype="multipart/form-data" class="row">
            <div class="border p-3 my-4">
                <div class="form-floating mb-3 row p-1">
                    <input asp-for="Name" class="form-control border-0 shadow" placeholder="Name" />
                    <label asp-for="Name" class="ms-2"></label>
                    <span asp-validation-for="Name" class="text-danger p-0"></span>
                </div>
                <div class="form-floating mb-3 row p-1">
                    <input asp-for="Description" class="form-control border-0 shadow" placeholder="Description" />
                    <label asp-for="Description" class="ms-2"></label>
                    <span asp-validation-for="Description" class="text-danger p-0"></span>
                </div>
                <div class="form-floating mb-3 row p-1">
                    <input asp-for="ImgFile" type="file" class="form-control border-0 shadow" placeholder="Img" />
                    <label asp-for="ImgFile" class="ms-2"></label>
                    <span asp-validation-for="ImgFile" class="text-danger p-0"></span>
                </div>
                <div class="row mt-3">
                    <div class="col-6 col-md-3">
                        <button type="submit" class="btn btn-outline-success form-control">Create</button>
                    </div>
                    <div class="col-6 col-md-3">
                        <a asp-controller="Category" asp-action="Index" class="btn btn-outline-primary form-control">Back To Products</a>
                    </div>
                </div>
            </div>
        </form>
    </div>
</div>
