<!--Contacts page start-->
@{
    Layout = "_Layout";
}
<title>Barker - Contacts</title>

<div class="text-primary">
    <div class="contacts-map">
        <iframe src="https://www.google.com/maps/embed?pb=!1m18!1m12!1m3!1d2541.4628521947147!2d30.530044316318484!3d50.43247879653979!2m3!1f0!2f0!3f0!3m2!1i1024!2i768!4f13.1!3m3!1m2!1s0x40d4cf05cb054de5%3A0x6e4e132eb2343554!2z0LHRg9C7LiDQm9C10YHQuCDQo9C60YDQsNC40L3QutC4LCAyMCwg0JrQuNC10LIsIDAyMDAw!5e0!3m2!1sru!2sua!4v1673551641197!5m2!1sru!2sua" width="1200" height="600" style="border:0;" allowfullscreen="" loading="lazy" referrerpolicy="no-referrer-when-downgrade"></iframe>
    </div>
</div>

<!--Contacts page end-->