<!doctype html>
<html lang="uk">
<head>
    <meta charset="utf-8">
    <meta name="viewport" content="width=device-width, initial-scale=1, maximum-scale=1, user-scalable=0, shrink-to-fit=no">
    <meta name="description" content="">
    <meta name="keywords" content="">
    <meta name="robots" content="">
    <title>Barker - @ViewData["PageTitle"]</title>
    <link href="~/lib/bootstrap/dist/css/bootstrap.css" rel="stylesheet">
    <link href="https://cdn.jsdelivr.net/npm/bootstrap-icons@1.11.3/font/bootstrap-icons.min.css" rel="stylesheet">
    <link href="~/css/_Layout.css" rel="stylesheet">
</head>

<body class="d-flex flex-column">
    <header>
        <nav class="navbar navbar-expand-lg" style="background-color: #3d3b27;">
            <div class="container-fluid">
                <a asp-area="Admin" asp-controller="Admin" asp-action="Index">
                    <img class="navbar-brand" src="~/img/barkerlogo.png">
                    <span class="lover-nav-span">В Україні з 2010</span>
                </a>
                <button class="navbar-toggler" type="button" data-bs-toggle="collapse" data-bs-target="#navbarColor01" aria-controls="navbarColor01" aria-expanded="false" aria-label="Toggle navigation">
                    <span class="navbar-toggler-icon"></span>
                </button>
                <div class="collapse navbar-collapse" id="navbarColor01">
                    <ul class="navbar-nav me-auto">
                        <li class="nav-item">
                            <a class="nav-link text-white" asp-controller="Home" asp-action="About">Історія бренду</a>
                        </li>
                        <li class="nav-item">
                            <a class="nav-link text-white" asp-controller="Home" asp-action="Sale">Акції</a>
                        </li>
                        <li class="nav-item">
                            <a class="nav-link text-white" asp-controller="Category" asp-action="Accessory">Аксесуари</a>
                        </li>
                        <li class="nav-item">
                            <a class="nav-link text-white" asp-controller="Category" asp-action="Index">Колекції</a>
                        </li>
                        <li class="nav-item">
                            <a class="nav-link text-white" asp-controller="Home" asp-action="Contacts">Контакти</a>
                        </li>
                        <li class="nav-item dropdown">
                            <a class="nav-link dropdown-toggle text-white" data-bs-toggle="dropdown" href="#" role="button" aria-haspopup="true" aria-expanded="false">Розміри</a>
                            <div class="dropdown-menu">
                                <a class="dropdown-item" href="#">Добавить размер*</a>
                            </div>
                        </li>
                    </ul>
                    <form class="d-flex">
                        <input class="form-control me-sm-2" type="search" placeholder="Пошук по сайту">
                        <button class="btn btn-secondary my-2 my-sm-0" type="submit">Пошук</button>
                    </form>
                </div>
            </div>
        </nav>
    </header>

    <main role="main" class="container mt-5 flex-fill">
        @RenderBody()
    </main>

    <footer class="border-top mt-auto" style="background-color: #d1d1b8;">
        <div class="footer-container d-flex align-items-center justify-content-between">
            <div class="footer-left">
                <div class="d-flex align-items-center mb-3">
                    <i class="bi bi-calendar-date nav-link-calendar"></i>
                    <span>Час роботи <br /> Пн.-Нд.12:00-18:00</span>
                </div>
                <div class="d-flex align-items-center mb-3">
                    <i class="bi bi-geo-alt"></i>
                    <span>М. Київ, бульвар Л. Українки, 20</span>
                </div>
                <div class="d-flex align-items-center mb-3">
                    <i class="bi bi-telephone"></i>
                    <span>+38 (093) 584-78-49</span>
                </div>
                <div class="d-flex align-items-center">
                    <i class="bi bi-telephone"></i>
                    <span>+38 (063) 292-22-36 (Viber)</span>
                </div>
                <div class="footer-right d-flex flex-column align-items-center">
                    <a class="nav-link-instagram mb-3" href="https://www.instagram.com/barker_kiev/" target="_blank" title="Наш Інстаграм">
                        <i class="bi bi-instagram"></i>
                    </a>
                    <a class="nav-link-facebook mb-3" href="https://www.facebook.com/barker.kiev/" target="_blank" title="Наш Фейсбук">
                        <i class="bi bi-facebook"></i>
                    </a>
                </div>
            </div>
            <div class="footer-form">
                <p class="feedback-form">Форма зворотного зв’язку</p>
                <form action="" method="post">
                    <div class="row">
                        <div class="col-md-6">
                            <div class="mb-3">
                                <input type="text" placeholder="Ім’я" maxlength="50" id="id_feedbackName" required class="form-control input-field" />
                            </div>
                            <div class="mb-3">
                                <input type="email" placeholder="E-mail" maxlength="50" id="id_feedbackEmail" required class="form-control input-field" />
                            </div>
                            <div class="mb-3">
                                <input type="text" placeholder="Телефон" maxlength="50" id="id_feedbackPhone" required class="form-control input-field" />
                            </div>
                        </div>
                        <div class="col-md-6">
                            <div class="mb-3 textarea-container">
                                <textarea placeholder="Докладно опишіть своє питання" maxlength="500" id="id_feedbackText" required class="form-control input-field"></textarea>
                            </div>
                        </div>
                    </div>
                    <div class="text-center">
                        <button class="btn btn-outline-success" id="feedbackButton" type="submit">Надіслати</button>
                    </div>
                </form>
            </div>
        </div>
    </footer>

    <script src="~/lib/bootstrap/dist/js/bootstrap.js"></script>
</body>
</html>
