<!--About page start-->
@{
    Layout = "_Layout";
    ViewData["PageTitle"] = "Історія бренду";
}

<div class="text-primary">
    <div class="">
        <h3>Екскурс до історії.</h3>
        <p>Англійське чоловіче взуття Barker – всесвітньо відомий бренд. Взуття Barker - це насамперед класичне чоловіче англійське взуття. Купити взуття Barker означає купити традиційне англійське високоякісне взуття, що наголошує на статусі власника.</p>
        <p>Ерлс-Бартон, де розташована фабрика Barker - мальовниче селище неподалік Нортхемптона. П'ять тисяч мешканців, невеликі гарні будиночки, шинок під промовистою вивіскою: “Чобіт”. На центральній вулиці – план схема місцевості, на якому написано: “Ерлс-Бартон має міжнародну популярність тому, що у нас виробляється традиційне високоякісне взуття”.</p>
        <p>Тут 1880 року сільський шевець Артур Баркер і почав шити черевики для своїх односельців. Була в них явно якась родзинка, інакше б не збільшувалася кількість замовлень, і не довелося б для їх виконання наймати в підручні інших досвідчених ремісників. У роки Першої світової війни Артур Баркер будує невелику фабрику та отримує солідне замовлення від армії. З 20-х років нашого століття Barker розпочинає експортні постачання до Південної Африки, де незабаром Артур Баркер-молодший відкриває свою справу “Баркер та сини”. Марки Barker набувають все більшої популярності у світі. Фабрика в Ерлс-Бартон розростається. Обсяг виробництва зараз - близько 5000 пар на тиждень.</p>
        <p>Завдяки побудованій у 1986 р. новій будівлі фабрики, «Баркер шуз» стає однією з найкращих взуттєвих фабрик Європи.</p>
        <p>Після реконструкції фабрику відкривала сама королева Англії! Відвідувачі підприємства можуть побачити на стіні головного виробничого цеху пам'ятну дошку, що свідчить про офіційне відкриття нового фабричного комплексу 7 травня 1987 року Її Величністю королевою Єлизаветою (королевою матір'ю), і простежити історію створення та розвитку компанії в "портретній галереї Barker".</p>
    </div>
    <div class="">
        <img src="~/img/about_img/Arthur-Barker.jpg" title="Артур Баркер" alt="Arthur Barker img" />
        <p style="" ;">Артур Баркер</p>
    </div>
    <div class="">
        <h3>Традиційні англійські технології.</h3>
        <p>Кожна пара чоловічого взуття Barker виготовляється від 6 до 8 тижнів і проходить 165 виробничих операцій, більш як половина з них досі виконується вручну, оскільки машинним методом виготовлення не вдається досягти такої якості. Використовуються такі традиційні методи виготовлення, як повільне природне сушіння та ручне полірування верху взуття.</p>
        <p>Виробничі цехи, відверто кажучи, суперсучасними назвати важко. Робочі місця зручні, багато світла, це так. Але поряд із цілком сучасним обладнанням впадає в очі і обладнання явно солідного віку, та й ручних операцій начебто забагато (до 50%). Причина не в економії. Виробництво взуття Barker вимагає традиційних методів, а отже, і традиційного обладнання.</p>
        <p>На фабриці Barker працюють висококласні майстри із стажем роботи 20 і більше років. Більшість співробітників Barker живуть в Ерлс-Бартоні, багато хто працює цілими сім'ями, передаючи свій досвід і традиції з покоління в покоління. Наприклад, один із найшанованіших і найдавніших співробітників, відчайдушний уболівальник за місцеву футбольну команду Філ Перселл (Phil Purcell) - супервайзер складу шкіряної сировини та розкрійної ділянки - на Barker більше 35 років. Філ гарантує, що компанія використовує найкращі матеріали, які чудово тримають форму. "Я і мої близькі носимо тільки черевики Barker, тому можна сказати, це - сімейний бізнес", - зізнається Перселл. Тридцятивосьмирічний Оуен Прікетт (Owen Prickett), який здійснює одну з найвідповідальніших операцій - прошивку підошви - і названий жартом управляючим компанії Аланом Прінглом (Alan Pringle) "найважливішою людиною на Barker", працює на підприємстві з 19 років. Операцію полірування готового взуття довірено тридцятип'ятирічному любителю подорожей та психологічних романів Ніку Бенуорду (Nick Banward), який зайнятий у виробництві з 16 років. "Головне для мене, - каже Нік, - щоб обидва черевики пари після моєї обробки виглядали абсолютно однаково блискучими".</p>
        <p>Тільки так можна виготовити високоякісне та комфортне взуття та здобути світову популярність.</p>
        <p>Відмінне взуття можна зробити тільки із відмінної сировини. Цьому правилу Barker слідує з 1880 року до сьогодні. Фірма використовує виключно натуральні матеріали рослинного дублення: шкіру телячу, коблер, наппу. Перевага при дубленні віддається екстракту мімози. Закуповують шкіряну сировину тільки у партнерів, які зарекомендували себе за довгі роки, насамперед на фабриках, розташованих у тому ж Нортхемптонширі, Італії, Франції, Австрії. Але остаточна обробка матеріалу відбувається на фабриці, завдяки чому шкіра не шарується навіть після кількох років служби.</p>
        <p>Стратегія використання високоякісних матеріалів, високої майстерності виготовлення та особливого класичного дизайну дбайливо підтримується фірмою Barker Shoes Ltd ось уже 135 років!</p>
    </div>
    <div class="central">
        <img src="~/img/about_img/1880bw.png" title="Працівники кампанії Barker" alt="Barker Team img">
        <br> <p style="margin-left:40px;">Девіз фірми Баркер:<br> <span style="font-weight:600;"> “Кожен окремо та вся команда — до єдиної мети”.</span></p>
    </div>
    <div>
        <h3>Дизайн та колекції.</h3>
        <p>У дизайні взуття Barker (Баркер) чітко простежується консервативний британський стиль. Більшість продукції "Баркер" - це класичні туфлі. Створюється кілька колекцій цього виду взуття, які оновлюються щорічно. За назвою колекції можна зрозуміти, для яких потреб та для якого стилю вони призначені. Це "Creative", "Flex", "Professional", "Country", "Anniversary", "Handcrafted" лінії і т.д. Кожна з них має понад десять моделей. Людині, яка часто носить діловий стиль, знадобиться кілька пар, причому краще взяти з різних колекцій.</p>
        <p>Головним досягненням бренду менеджер фірми з виробництва вважає те, що за останній рік вдалося залучити до її продукції молодших покупців. Традиційно покупцями Barker були літні чоловіки. Наразі до них додалися ті, кому 30-35 років. Дизайнер чоловічого взуття Сатоші Курокі у цьому не сумнівається. Японець по крові, він також виявився гарячим шанувальником англійських традицій взуттєвих.</p>
        <p>Завдання: прагнути до того, щоб наше взуття відповідало існуючим уявленням про те, як виглядає британське взуття, вважає він. Почни ми випускати черевики, подібні до італійських, вони нікого не зацікавлять. Люди йдуть до магазину та купують взуття Barker, коли вони хочуть купити саме британське взуття. Здавна основними епітетами, якими нагороджували англійське взуття, були "суворість", "консерватизм", "виняткова якість".</p>
        <p>Дизайнер Алан Крик (Alan Crick) вважає, що в останні 3-5 років компанія пропонує своїм покупцям стильніші моделі. "Ми використовуємо нові технологічні розробки: гумові вставки в шкіряній підошві, більш товсту набійку, навмисно потовщені агресивні підошви в чоловічій стильній лінії. І все ж таки фірмовим "ковзаном" залишаються роками перевірені класичні моделі, розраховані на давнього прихильника продукції фірми - чоловіка старше 40 років", укладає Алан Крік.</p>
        <p>У складі дизайнерської групи всього 3 співробітники. За кожним закріплено певний напрямок. За сезон випускають 20 нових моделей. Комп'ютерний дизайн не використовується. Те, що багато моделей переходять з однієї колекції до іншої, вважають не недоліком, а досягненням. Про те, що одній із моделей вдалося протриматися 15 років, говорять із гордістю.</p>
    </div>
    <div>
        <img src="~/img/about_img/6NsqwDUL7u4.jpg" title="Взуття Barker" alt="Arthur Barker img" />
    </div>
    <div>
        <h3>Рітейл.</h3>
        <p>За більш ніж вікову історію існування компанія пережила всі катаклізми XX століття, створила відомий взуттєвий бренд, відкрила власні магазини в Європі та Японії, успішно співпрацює з такими відомими іменами у рітейл-бізнесі, як Gallerie Lafayette та Printemps у Франції, Goertz у Німеччина, Gazzaz в Саудівській Аравії, Tokyo Footwear в Японії, Graendsens Stokoimagazin в Норвегії, Golden Home в Омані. Крім того, Barker виробляє взуття для інших відомих торгових марок: Burberry, Donna Karan, Facconable, Jeffery West Saks 5th Avenue, Saxone of Scotland. Крім фірмового магазину на одній з найжвавіших лондонських шопінг-вулиць - Regent Street, колекції Barker постійно представлені у знаменитих Harrods, Selfridges, Russell & Bromley, Gordon Scott.</p>
        <p>На період війни магазин буде функціонувати у форматі шоурума за адресою: <a href="/contacts">м. Київ, б. Л. Українки, 20, офіс 19</a></p>
    </div>
    <div>
        <img src="/img/about_img/031_original.jpg" title="Магазин Barker" />
    </div>
</div>

<!--About page end-->