<!--Home page start-->
@{
    Layout = "_Layout";
    ViewData["PageTitle"] = "Головна сторінка";
}

<div class="row">
    <div class="col-md-6 mb-4">
        <div class="category-card">
            <img src="/img/handcrafted.jpg" alt="Handcrafted" class="img-fluid">
            <div class="category-text">
                <h2>Handcrafted</h2>
                <p>Ручна робота</p>
            </div>
        </div>
    </div>
    <div class="col-md-6 mb-4">
        <div class="category-card">
            <img src="/img/sale.jpg" alt="Sale" class="img-fluid">
            <div class="category-text">
                <h2>Сезонний розпродаж</h2>
                <p>до 50% на зимові моделі</p>
            </div>
        </div>
    </div>
</div>
<div class="row">
    <div class="col-md-6 mb-4">
        <div class="category-card">
            <img src="/img/tradition.jpg" alt="Tradition" class="img-fluid">
            <div class="category-text">
                <h2>Традиційні англійські технології</h2>
                <p>На фабриці Barker працюють висококласні майстри із стажем роботи 20 і більше років</p>
            </div>
        </div>
    </div>
    <div class="col-md-6 mb-4">
        <div class="category-card">
            <img src="/img/new.jpg" alt="New Collection" class="img-fluid">
            <div class="category-text">
                <h2>Нова колекція</h2>
                <p>Осінь 2024</p>
            </div>
        </div>
    </div>
</div>

<!--Home page end-->