<!--Sale page start-->
@{
    Layout = "_Layout";
    ViewData["PageTitle"] = "Акції";
}
<title>Barker - Categories</title>

<div class="container mt-5">
    <div class="row pt-4">
        <div class="col-6">
            <h2 class="text-primary">
                Акції
            </h2>
        </div>
    </div>
</div>
<script src="~/js/bootstrap.js"></script>

<!--Sale page end-->