@model IEnumerable<Barker.Models.Product>

@{
    Layout = "_Layout";
    ViewData["Title"] = "Home Page";
}

<!DOCTYPE html>
<html>
<head>
    <title>@ViewData["Title"]</title>
</head>
<body>
    <h1>Products</h1>
    <ul>
        @foreach (var product in Model)
        {
            <li>@product.Name - @product.Price.ToString("C")</li>
        }
    </ul>
</body>
</html>
